# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.cache/
.pytest_cache/
uploads/
